/*Шаблон регистарции*/

.pd {
    padding: 0; !important;
}

.btn-reg {
    background: #5F9093; !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); !important;
    border-radius: 16px; !important;
}
.logo {
    padding: 4px;

}
.nav {
    padding-top: 10px;
}
.prof{
    width: 25px;
    height: 25px;
}
.imageback{
    background-position: center, 100px;
    background-image: url("../img/Rectangle.png");
}
.ava{
    width: 256px;
    height: 256px;
    margin-top: 200px;
    margin-left: 70px;
}
.name{
    right: auto;
    margin-top: 5px;
}
.info-profyl{
    margin-top: 12px;
    margin-left: 5px;
}
.edit{
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}
.panel{
    margin-left: 30px;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
